:root {
    --primary-color: #0b1d51;
    --secondary-color: #797596;
    --tertiary-color: #a1869e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px, 35px;
    text-decoration: none;
}

header h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 36px;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
    margin: 10px 5px;
}

header nav ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 1.5vw;
    padding: 10px 15px;
}

.hero {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100px;
}

.hero img {
    max-width: 100%;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
}

.work {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work h2 {
    margin: 0 5000px;
}

.apps {
    width: 500px;
}

.apps img {
    width: 50%;
}

.apps img:first-child {
    width: 100%;
}

.contact-info {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
}

.contact-info h2 {
    padding: 15px;
}

.contact-info a {
    padding: 20px;
    text-decoration: none;
}

@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
}